# Blokada wyświetlania listy plików w folderze
Options -Indexes

# Blokada dostępu do plików konfiguracyjnych i PHP (z wyjątkiem book.php)
<FilesMatch "\.(php|ini|log)$">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order Allow,Deny
        Deny from all
    </IfModule>
</FilesMatch>

# Zezwolenie tylko na główny skrypt
<Files "book.php">
    <IfModule mod_authz_core.c>
        Require all granted
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order Allow,Deny
        Allow from all
    </IfModule>
</Files>
